.forecast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  width: 291px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.forecast__temp-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
	width: 209px;
	font-size: 106px;
	color: #771921;
  border-bottom: 1px solid #771921;
  justify-content: center;
}

.forecast__graph {
  border-bottom: 1px solid #771921;
	padding: 25px 0 20px 0;
	width: 209px;
}
